.cookies
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  background-color: $color-3
  color: $color-2
  padding-bottom: em-calc(16)
  display: none

  @include media($screen-sm-min)
    text-align: center

  &__message
    font-size: em-calc(12)

  &__buttons
    .button--alternative
      border-color: $color-2
      color: $color-2

  &--not-accepted
    display: block
